<!DOCTYPE html>
<html>
    <head>
        <title style="font-style: italic;">
            Soundboard - a way to cope
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container">
            <h1>Request a sound to the Soundboard</h1>
            <br>
          <form action="">
            <p> You need to fill in:</p>
            
            <label for="videoUrl">Youtube link:</label>
            <input type="text" id="videoUrl" name="videoUrl"><br><br>
            
            <label for="startTime">Start time of clip:</label>
            <input type="text" id="startTime" name="startTime"><br><br>
            
            <label for="endTime">End time of clip:</label>
            <input type="text" id="endTime" name="endTime"><br><br>
            </form>
        </div>
    </body>
</html>